@{
    var ajaxOptions = new AjaxOptions
    {
        UpdateTargetId = @ViewBag.QEditorContainerClass,
        LoadingElementId = "displayLoading",
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        AllowCache = false, //TODO: have to be true after testing,
        OnBegin = "setAddNewActive"
    };

    ViewBag.LinkClass = "btn btn-lg btn-block  btn-default";
}

<div class="panel panel-default text-center">
    <div class="panel-heading">
        <h4>Builder</h4>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            @Ajax.ActionLink("SingleResponse", "QuestionAddPartial", "Questions",
            new { surveyNumber = @ViewBag.SurveyNumber , type = "SRQ"}, ajaxOptions, new { @class = ViewBag.LinkClass })
        </li>
        <li class="list-group-item">
            @Ajax.ActionLink("MultipleChoice", "MCQuestionAddPartial", null, ajaxOptions, new { @class = ViewBag.LinkClass })
        </li>
        <li class="list-group-item">
            @Ajax.ActionLink("DropDownList", "DDLQuestionAddPartial", null, ajaxOptions, new { @class = ViewBag.LinkClass })
        </li>
        <li class="list-group-item">
            @Ajax.ActionLink("DateTime", "DTQuestionAddPartial", null, ajaxOptions, new { @class = ViewBag.LinkClass })
        </li>
    </ul>

</div>
