@{
    ViewBag.Title = "CreateNewSurvey";
}

<h3>Survey Name: @ViewBag.SurveyName</h3>
<div id="questionsList">
    @Html.Action("QuestionLinksPartial", new { surveyNumber = ViewBag.SurveyNumber })
</div>
<row class="row">
    <div class="col-md-3 well">
        <div style="min-width:200px; max-width:250px;">
            @Html.Action("BuilderPartial", new { surveyNumber = ViewBag.SurveyNumber })
        </div>
    </div>
    <div class="col-md-9 well">
        <div id="@ViewBag.QEditorContainerClass">
            <h1>Add question from the builder...</h1>
            <div id="displayLoading" style="display: none; text-align: center;">
                <img src="../../Content/Images/loading.gif" alt="loading" />
            </div>
        </div>
    </div>
</row>

<script>
        function reloadQuestionsList() {
            $("#questionsList").html("Loading...");
            $("#questionsList").load("/CreateSurvey/QuestionLinksPartial", { "SurveyNumber": "@ViewBag.SurveyNumber" });
        }
</script>