@{
    ViewBag.Title = "CreateSurvey";
}

<h3>@ViewBag.Title</h3>

<div class="well well-sm">
    <div>
        <input type="radio" group="surveyType" name="surveyType" id="type1" value="1" checked />
        <label for="type1">Create new survey</label>
    </div>
    <div class="new-survey-form">
        <hr />
        @using (Html.BeginForm("CreateNewSurvey", "CreateSurvey", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <div>
                    @Html.Label("SurveyName")
                    <br />
                    @Html.TextBox("SurveyName", null, new { minLength = "1",maxLength = "50", required = "true" })
                    <div>(1 - 50 symbols)</div>
                </div>
                <div class="btn">
                    <input type="submit" value="Create ->" class="btn btn-success" />
                </div>
            </div>
        }
    </div>
</div>


<div class="well well-sm">
    <div>
        <input type="radio" group="surveyType" name="surveyType" id="type2" value="2" />
        <label for="type2">Edit existing survey</label>
    </div>
    <div class="existing-survey-form" style="display: none">
        <hr />
        @using (Html.BeginForm("EditSurvey", "CreateSurvey", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <div>
                    @Html.Label("Your surveys:")<br />
                    @Html.DropDownList("ExistingSurveyNumber", (IEnumerable<SelectListItem>)ViewBag.items, "Select survey", new { @class = "form-control", required = "true" })
                </div>
                <div class="btn">
                    <input type="submit" value="Copy and edit ->" class="btn btn-success" />
                </div>
            </div>
        }
    </div>
</div>

@section scripts
{
<script>
    var change = function onCreateTypeChanged() {
        if ($('#type1').is(':checked') == true) {
            $('.existing-survey-form').css('display', 'none');
            $('.new-survey-form').css('display', 'block');
        }
        else {
            $('.existing-survey-form').css('display', 'block');
            $('.new-survey-form').css('display', 'none');
        }
    }

    change();
    $('input:radio').change(change);
</script>
}